{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl"]}.
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
       {meck, ".*", {git, "git://github.com/eproxus/meck", "master"}},
  {lager, ".*", {git, "git://github.com/basho/lager", {tag, "1.2.2"}}},
  {poolboy, ".*", {git, "git://github.com/basho/poolboy", {branch, "master"}}}
       ]}.
